.container
{
    /* center contents */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

main td
{
    /* left-align tables' cells */
    text-align: left;
}

/* Add Zoom Animation */
.animate
{
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom
{
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom
{
  from {transform: scale(0)}
  to {transform: scale(1)}
}

.content-area-right
{
  max-width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
}

.label-default
{
  background-color: #fff;
  margin-top: 10px;
}

.form-control {
  margin: auto;
  display: block;
}

body {background-color : black }
.form-control {
  width : 160px !important;
  margin: auto !important;
}
.input-group, .form-control {
    float: none !important;
}
.input-group-addon, .input-group-btn {
display: initial !important;
}

.space {
  margin-top: 80px;
}
