{% extends "layout.html" %}

{% block title %}
    Apology
{% endblock %}

{% block main %}
    <img alt="Sorry!" src="httgit p://memegen.link/custom/{{ top | urlencode }}/{{ bottom | urlencode }}.jpg?alt=http://i.imgur.com/A3ZR65I.png"/>
{% endblock %}


<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<body>-->

<!--<p>Click the button to display an alert box.</p>-->

<!--<button onclick="myFunction()">Try it</button>-->

<!--<script>-->
<!--function myFunction() {-->
<!--  alert("Wrong Password");-->
<!--}-->
<!--</script>-->

<!--</body>-->
<!--</html>-->