{% extends "layout.html" %}

{% block title %}
    Follow
{% endblock %}

{% block main %}
    <form action="{{ url_for('follow') }}" method="post">
        <h2><font color="grey">(un)Follow a location</font></h2>
        <br><br>
        <font color="grey">*Enter the location in English for more results</font>
        <p></p>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="location" placeholder="Location*" type="text"/>
        </div>

        <input type="submit" name="follow" value="Follow this location" class="btn btn-primary">

        <br><br><br>

        <fieldset>
            <select name="unfollow location">
                <option disabled selected value> unfollow location </option>
                {% for location in followed_locations %}
                    <option value="{{ location.location }}">{{ location.location }}</option>
                {% endfor %}
            </select>
            <div class="form-group">
                <button class="btn btn-default" type="submit" name="unfollow">Unfollow</button>
            </div>
        </fieldset>

    </form>
{% endblock %}
