{% extends "layout.html" %}

{% block title %}
    forgot password
{% endblock %}

{% block main %}

<form action="{{ url_for('forgot') }}" method="post">
        <fieldset>
            <h1>Forgot Password</h1>
            <p>To be able to change your password:</p>
            <p>Please fill in your username and answer the security question correctly </p>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="username2" placeholder="Username" type="text"/>
            </div>
             <div class="form-group animate">
                <input class="form-control" name="securityquestion2" placeholder="Name favorite artist" type="text"/>
            </div>
            <div class="form-group animate">
                <button class="btn btn-default animate" type="submit">I Forgot</button>
            </div>
        <fieldset/>
{% endblock %}
