{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}



<script type="text/javascript" src="{{ url_for('static', filename='js/comment.js') }}"></script>
<script defer src="https://use.fontawesome.com/releases/v5.6.3/js/all.js" integrity="sha384-EIHISlAOj4zgYieurP0SdoiBYfGJKkgWedPHH4jCzpCXLmzVsw1ouK59MuUtP4a1" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
 /* Style the Image Used to Trigger the Modal */
.myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.myImg:hover {opacity: 0.7;}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
/* Modal Content (Image) */
.modal-content, #caption {
    margin: auto;
    display: inline-block;
    float:left;
    width: 80%;
    max-width: 700px;
}
#cmbx{
    display: inline-block;
    float:left;
}
/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}
/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
.heart {
    font-size: 25px;
    color:red;
}
.black{
    font-size: 25px;
	color:grey;
}
</style>


<script>
window.onload = function()
{
    function like_photo(id){
}
// Get the modal
var modal = document.getElementById('myModal');
// Get the image and insert it inside the modal - use its "alt" text as a caption
var img = $('.myImg');
var modalImg = $("#img01");
var captionText = document.getElementById("caption");
$('.myImg').click(function(){
    modal.style.display = "block";
    var newSrc = this.src;
    console.log(this.id)
    modalImg.attr('src', newSrc);
    captionText.innerHTML = this.alt;
    //imgid = this.id;
    console.log(newSrc)
        $.ajax({
          url: "/zien_comments",
          type: "POST",
          data: {"photo_id":this.id},
          dataType: "text",
          success: function getcomments() {
              $.ajax({
                type: "GET",
                url: '/like',
                data: {yayor: "yayor"},
                success: function(yayor){
                    console.log(yayor)
                    if (yayor.length > 0) {
                        //document.getElementById("hart").classList.add('red');
                        document.getElementById("hart").classList.remove('black');
                        //document.getElementById("hart").style.color = "red"
                    } else{
                        //document.getElementById("hart").classList.remove('red');
                        document.getElementById("hart").classList.add('black');
                        //document.getElementById("hart").style.color = "black"
                    }
                }
            });
              $.ajax({
                type: "GET",
                url: '/zien_comments',
                data: {cmlist: "cmlist"},
                //error: function (xhr, ajaxOptions, thrownError) {
            //alert(xhr.status);
           // alert(thrownError);
          //},
                success: function(cmlist){
                    for (i = 0; i < cmlist.length; i++) {
                    var elem = document.createElement("img");
                    elem.setAttribute("src", cmlist[i]);
                    //elem.src = cmlist[i];
                    document.getElementById("cmbx").appendChild(elem);
            }
            }
          });
        }
});
});
// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];
// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}
$('#like').click(function(){
    //console.log(imgid)
});
$('#del').click(function(){
    $("#cmbx img").remove();
    $('#cmbx').hide()
    $('#giphy').hide()
});
$('#cmbx').hide()
$('#scomments').click(function(){
    $('#cmbx').toggle()
});
$(document).on('click','#hart', function(event) {
//alert(event.target);
//alert("klik")
$(this).toggleClass('heart, black');
//alert($(event.target).classes())
});
/*
 function toggle(){
if(document.getElementById("hart").className == "heart")
   document.getElementById("hart").className = "black";
else
   document.getElementById("hart").className = "heart";
}
*/
}
</script>





<!--
<p style=float:center>
    {% if photos|length > 0 %}
        {% for photo in photos %}
        <div class=animate>
            <section id="photos">
                <img src={{ url_for('download_file', filename=photo[0] ) }} alt="Can't load picture" width="370" height="280" style=float:left>
            </section>
            {{photo[2]}}
            {% if 1 > 0 %}
                <button id="likebutton" value="unliked" onclick="like_photo({{photo[1]}});change();"><img src="/hotspots/sprites/unliked.png" alt="Like"></button>
            {% else %}
                <button id="likebutton" value="liked" onclick="like_photo({{photo[1]}});change();"><img src="/hotspots/sprites/liked.png" alt="Unlike"></button>
            {% endif %}
        </div>
        {% endfor %}
    {% else %}
    <font color="white">You don't follow any location or the locations that you follow don't have photos uploaded.</font>
    {% endif %}
</p>
<--></-->
{% if photos|length > 0 %}
    {% for photo in photos %}
                    <img class="myImg" id={{ photo[1] }} src={{ url_for('download_file', filename=photo[0] ) }} width="370" height="280" style=float:left alt={{ photo[2] }}>
    {% endfor %}
{% else %}
    <font color="white">You don't follow any location or the locations that you follow don't have photos uploaded.</font>
{% endif %}

<div id="myModal" class="modal" >

  <!-- The Close Button -->
  <span class="close" id="del" onclick="document.getElementById('myModal').style.display='none'">&times;</span>


  <!-- Modal Content (The Image) -->
<div class="left">
    <img class="modal-content" id="img01">
      <!-- Modal Caption (Image Text) -->
  <div id="caption"> captionText.innerHTML </div>
</div>
  <!-- <button type="button" id="like" onclick="like_photo(imgid)">Like</button> -->
        <i class="heart fas fa-heart" id="hart" onclick="like_photo(imgid)" aria-hidden></i>



<button type="button" value="comment" id='Showbutton'>Comment</button>
<div id = "giphy">
<div class="title-search-bar">
            <div class="search-bar">
                <input type="text" name="query" id="user-search" placeholder="Look up giphys"/>
            </div>
        </div>
        <hr>
        <div class="section">
            <div id="results"></div>
            <br>
            <input type="submit" value="Submit" id = "comments">
        </div>


</div>
<button type="button" id="scomments">Show comments</button>
<div class="right" id="cmbx">




</div>



</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{% endblock %}