{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

<script type="text/javascript" src="{{ url_for('static', filename='js/comment.js') }}"></script>
<script defer src="https://use.fontawesome.com/releases/v5.6.3/js/all.js" integrity="sha384-EIHISlAOj4zgYieurP0SdoiBYfGJKkgWedPHH4jCzpCXLmzVsw1ouK59MuUtP4a1" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<script>
window.onload = function()
{
// Get the modal
var modal = document.getElementById('myModal');
// Get the image and insert it inside the modal - use its "alt" text as a caption
var img = $('.myImg');
var modalImg = $("#img01");
var captionText = document.getElementById("caption");
//var likeCount = document.getElementById("likecount");
$('.myImg').click(function(){
    modal.style.display = "block";
    var newSrc = this.src;
    //console.log(this.id)
    modalImg.attr('src', newSrc);
    captionText.innerHTML = this.alt;
    //imgid = this.id;
    //console.log(newSrc)
    $.ajax({
          url: "/zien_comments",
          type: "POST",
          data: {"photo_id":this.id},
          dataType: "text",
    });

    let request = $.ajax({
      url: "/like",
      type: "GET",
      data: {"id": this.id},
    });
    request.done(update_photo_data);

});
    //           $.ajax({
    //             type: "GET",
    //             url: '/like',
    //             data: {yayor: "yayor"},
    //             success: function(yayor){
    //                 if (yayor.length > 0) {
    //                     //document.getElementById("hart").classList.add('red');
    //                      document.getElementById("hart").classList.remove('black');
    //                     // likeCount.innerHTML--
    //                     //document.getElementById("hart").style.color = "red"
    //                 } else{
    //                     //document.getElementById("hart").classList.remove('red');
    //                      document.getElementById("hart").classList.add('black');
    //                     // likeCount.innerHTML++
    //                     //document.getElementById("hart").style.color = "black"
    //                 }

    // //alert($(event.target).classes())


    //             }
    //         });
            //   $.ajax({
            //     type: "GET",
            //     url: '/likey',
            //     data: {likes: "likes"},
            //     success: function(likes){
            //     console.log(likes)
            //     likeCount.innerHTML = likes;

            //     //document.getElementById("like").innerHTML = likes;
            //     //document.querySelector('#likecount').innerHTML = 'Hello World!';

            //     }
            //   });


// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];
// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}
$('#like').click(function(){
    console.log("likeclick")
});





$('#del').click(function(){
    $("#cmbx img").remove();
    $('#cmbx').hide()
    $('#giphy').hide()
});
$('#cmbx').hide()
$('#scomments').click(function(){
    $('#cmbx').toggle();
    //$('#cmbox').html('')
    $('#cmbx img').remove();
    $("#giphy .section").hide();

    console.log($('#cmbox').html())
    $.ajax({
        type: "GET",
                url: '/zien_comments',
                data: {cmlist: "cmlist"},
                //error: function (xhr, ajaxOptions, thrownError) {
            //alert(xhr.status);
           // alert(thrownError);
          //},
                success: function(cmlist){

                    for (i = 0; i < cmlist.length; i++) {
                    var elem = document.createElement("img");
                    elem.setAttribute("src", cmlist[i]);
                    console.log(elem.src)
                    //elem.src = cmlist[i];

                    document.getElementById("cmbx").appendChild(elem);




                }
            }
          });
});

$('#comments').click(function(){
    $('#cmbx').show('slow')
    $('#cmbox').html('')
    //$('#cmbox img').remove()
    $('#giphy').hide('slow')
    $('#cmbx img').remove()
    $("#results img").remove();
    $("#results div").remove();
    console.log($('#cmbox').html())
    $.ajax({
                type: "GET",
                url: '/zien_comments',
                data: {cmlist: "cmlist"},
                //error: function (xhr, ajaxOptions, thrownError) {
            //alert(xhr.status);
           // alert(thrownError);
          //},
                success: function(cmlist){

                    for (i = 0; i < cmlist.length; i++) {
                    var elem = document.createElement("img");
                    elem.setAttribute("src", cmlist[i]);
                    console.log(elem.src)
                    //elem.src = cmlist[i];

                    document.getElementById("cmbx").appendChild(elem);




            }
            }
          });
          document.getElementById('user-search').value = "";
          console.log($('#cmbox').html())
});
// $('.heart').click(function(){
//     console.log("heart")
//     $.ajax({
//                 type: "GET",
//                 url: '/like',
//                 data: {yayor: "yayor"},
//                 success: function(yayor){
//                     if (yayor.length > 0) {
//                         //document.getElementById("hart").classList.add('red');
//                         document.getElementById("hart").classList.remove('black');
//                         likeCount.innerHTML--
//                         //document.getElementById("hart").style.color = "red"
//                     } else{
//                         //document.getElementById("hart").classList.remove('red');
//                         document.getElementById("hart").classList.add('black');
//                         likeCount.innerHTML++
//                         //document.getElementById("hart").style.color = "black"
//                     }

//     //alert($(event.target).classes())


//                 }
//             });

// });
// $('.black').click(function(){
//     console.log("blacclick")
//     $.ajax({
//                 type: "GET",
//                 url: '/like',
//                 data: {yayor: "yayor"},
//                 success: function(yayor){
//                     if (yayor.length > 0) {
//                         //document.getElementById("hart").classList.add('red');
//                         document.getElementById("hart").classList.remove('black');
//                         //document.getElementById("hart").style.color = "red"
//                     } else{
//                         //document.getElementById("hart").classList.remove('red');
//                         document.getElementById("hart").classList.add('black');
//                         //document.getElementById("hart").style.color = "black"
//                     }

//     //alert($(event.target).classes())


//                 }
//             });

// });
$(document).on('click','#hart', function(event) {

    //$(this).toggleClass('heart, black');

//alert($(event.target).classes())
});


    // $.ajax({
    //             type: "GET",
    //             url: '/like',
    //             data: {photo_id: } ,
    //             success: function(yayor){
    //                 if (yayor.length > 0) {
    //                     console.log(yayor)
    //                     console.log("should be deleted now!")
    //                     //document.getElementById("hart").classList.add('red');
    //                     // document.getElementById("hart").classList.remove('black');
    //                     // likeCount.innerHTML--
    //                     //document.getElementById("hart").style.color = "red"
    //                 } else{
    //                     console.log(yayor)
    //                     console.log("should be inserted now!")
    //                     //document.getElementById("hart").classList.remove('red');
    //                     // document.getElementById("hart").classList.add('black');
    //                     // likeCount.innerHTML++
    //                     //document.getElementById("hart").style.color = "black"
    //                 }

    // //alert($(event.target).classes())


    //             }
    //         });
//alert(event.target);
//alert("klik")
/*
 function toggle(){
if(document.getElementById("hart").className == "heart")
   document.getElementById("hart").className = "black";
else
   document.getElementById("hart").className = "heart";
}
*/
}
</script>

{% if photos|length > 0 %}
    {% for photo in photos %}
        <img class="myImg" id={{ photo[1] }} src={{ url_for('download_file', filename=photo[0] ) }} width="370" height="280" style=float:left alt={{ photo[2] }}>
    {% endfor %}
{% else %}
    <font color="white">You don't follow any location or the locations that you follow don't have photos uploaded.</font>
{% endif %}

<div id="myModal" class="modal" >

  <!-- The Close Button -->
  <span class="close" id="del" onclick="document.getElementById('myModal').style.display='none'">&times;</span>


  <!-- Modal Content (The Image) -->
<div class="left">
    <img class="modal-content" id="img01">
      <!-- Modal Caption (Image Text) -->
  <div id="caption"> captionText.innerHTML </div>
</div>
  <!-- <button type="button" id="like" onclick="like_photo(imgid)">Like</button> -->
        <i class="heart fas fa-heart" id="hart" onclick="like_photo(imgid)" aria-hidden></i> <div id="likecount" class="heart"></div>



<button type="button" value="comment" id='Showbutton'>Comment</button>
<div id = "giphy">
<div class="title-search-bar">
            <div class="search-bar">
                <input type="text" name="query" id="user-search" placeholder="Look up giphys"/>
            </div>
        </div>
        <div class="section">
            <div id="results"></div>
            <br>
            <input type="submit" value="Submit" id = "comments">
        </div>


</div>
<button type="button" id="scomments">Show comments</button>
<div class="right" id="cmbx">




</div>



</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{% endblock %}