<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta -->
        <meta charset="utf-8"/>
        <meta content="initial-scale=1, width=device-width" name="viewport"/>

        <!-- documentation at http://getbootstrap.com/, alternative themes at https://www.bootstrapcdn.com/bootswatch/ -->
        <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.2.1/cyborg/bootstrap.min.css" rel="stylesheet"/>

        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    	  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    	  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-show-password/1.0.3/bootstrap-show-password.min.js"></script>

        <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet"/>
        <script src="{{ url_for('static', filename='js/functions.js')}}"></script>

        <!-- icons -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

        <title>Hotspots</title>

        <title>HotSpots: {% block title %}{% endblock %}</title>


    </head>

    <body>
    <div class = "container">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ url_for('index') }}">HotSpots.</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarColor02">
            {% if session.user_id %}
              <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="{{ url_for('upload') }}"><i class="material-icons">add_photo_alternate</i></a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('follow') }}">(un)Follow</a></li>
                <form class="form-inline my-2 my-lg-0" action="{{ url_for('search') }}" method="post">
                  &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<input class="form-control mr-sm-2" type="text" name="location" placeholder="Search location">
                  <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>
              </ul>
              <ul class="navbar-nav mr-auto navbar-right">
                <li class="nav-item"><a class="nav-link" href="{{ url_for('profile') }}"><i class="material-icons">person</i></a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}"> <i class="material-icons">input</i></a></li>
              </ul>
            {% else %}
              <ul class="navbar-nav mr-auto navbar-right">
                <li class="nav-item"><a class="nav-link"href="{{ url_for('register') }}">Register</a></li>
                <li class="nav-item"><a class="nav-link"href="{{ url_for('login') }}">Log In</a></li>
              </ul>
            {% endif %}

        </div>
      </nav>

      <main>
          {% block main %}{% endblock %}
      </main>

    </div>
    </body>

</html>
