{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
<body>
    <form action="{{ url_for('login') }}" method="post">
        <fieldset>
            <div class="form-group animate">
                <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text"/>
            </div>

            <div class="form-group animate">
                    <input class="form-control animate" name="password" placeholder="Password" type="password" id= "password" data-toggle="password" size="15"/>
            </div>

            <div class="form-group animate">
                <button class="btn btn-default animate" type="submit">Log In</button>
            </div>

        </fieldset>
    </form>

<script type="text/javascript">
	   $("#password").password('toggle');
</script>

    <form action="{{ url_for('forgot') }}">
        <fieldset>
            <div class="form-group animate">
                <button class="btn btn-default animate" type="submit">Forgot Password</button>
            </div>
        </fieldset>
    </form>
</body>
{% endblock %}
